@using Hospital.Models
@model Hospital.ViewModel.TimingViewModel


<h1 id="Heading" class="text-center">TIMMING</h1>

<form asp-action="AddTiming">
   
    
    <div class="form-floating">
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
        <label asp-for="Status"></label>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Duration" class="form-control" aria-required="true" />
        <label asp-for="Duration"></label>
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>


    <div>
        <label asp-for="MorningShiftStartTime"></label>
        <select asp-for="MorningShiftStartTime" asp-items="@ViewBag.morningStart"></select>
    </div>

    <div>
        <label asp-for="MorningShiftEndTime"></label>
        <select asp-for="MorningShiftEndTime" asp-items="@ViewBag.morningEnd"></select>
    </div>

    <div>
        <label asp-for="AfternoonShiftStartTime"></label>
        <select asp-for="AfternoonShiftStartTime" asp-items="@ViewBag.evenStart"></select>
    </div>

    <div>
        <label asp-for="AfternoonShiftEndTime"></label>
        <select asp-for="AfternoonShiftEndTime" asp-items="@ViewBag.evenEnd"></select>
    </div>


    <input type="submit" value="submit" class="btn btn-primary" />

</form>
