@using Hospital.Utilities;
@model PagedResult<Hospital.ViewModel.ApplicationUserViewModel>

@{
    ViewData["Title"] = "AllDoctors";
}

<h1 id="Heading" class="text-center">All Doctors</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               Email
            </th>         
            <th>
                City
            </th>
            <th>
                Gender
            </th>
            <th>
                IsDoctor
            </th>
            <th>
                Specialist
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialist)
            </td>           
        </tr>
}
    </tbody>
</table>
<cs-pager cs-paging-pagesize=(int)Model.PageSize
          cs-paging-pagenumber=(int)Model.PageNumber
          cs-paging-totalitems=(int)Model.TotalItems
          cs-pagenumber-param="pageNumber"
          asp-controller="Users"
          asp-action="AllDoctors"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">

</cs-pager>
